/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo oscuro */
    background-image: url('ruta-a-tu-imagen.jpg'); /* Cambia 'ruta-a-tu-imagen.jpg' por la ubicación de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Texto blanco para contraste */
}

h1, h3 {
    color: #ff7700;
}

h5 {
    color: #fff;
    font-weight: bold;
}

.container {
    padding: 20px;
}

/* Tarjetas informativas */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ff7700;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.2em;
    color: #ccc; /* Texto claro para mejor contraste */
}

/* Gráficos */
canvas {
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tablas */
.table {
    width: 100%;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #ff7700;
    color: #fff;
}

.table th, .table td {
    text-align: center;
    padding: 15px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #222; /* Fila impar con fondo oscuro */
    color: #fff; /* Texto blanco */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #444; /* Fila par con fondo gris oscuro */
    color: #fff; /* Texto blanco */
}

.table-striped tbody tr:hover {
    background-color: #666; /* Fondo gris claro al pasar el cursor */
    color: #fff; /* Mantener texto blanco */
}

/* Botones */
button {
    background-color: #444; /* Escala de gris oscuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 10px; /* Separación entre botones */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #666; /* Gris más claro */
    transform: scale(1.05);
}

button:active {
    background-color: #333; /* Gris más oscuro */
    transform: scale(0.95);
}

/* Centrado de contenido */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
}

footer a {
    color: #ff7700;
    text-decoration: none;
}

footer a:hover {
    color: #ff4500;
}
